@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(238, 245, 219);
    font-family: 'Josefin Sans', sans-serif;
}

body{
   width: 100%;
}

/*barra de navegacion*/
.header{    
    display: flex;
}

.nav{
    position: fixed;
    z-index: 1;
    height: 90px;   
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    box-shadow: 0px 0px 20px 0px  rgb(122, 158, 159) ;
}

.linknav, .linkcard{
    text-decoration: none;
    color: rgb(79, 99, 103);
    padding: 10px;
}


.menu-header{
    margin-right: 40px;
    display: flex;
    list-style: none;
    width: 60%;
    justify-content: space-between;
    align-items: center;
}

.linknav{
    font-size: 20px;
    color: rgb(79, 99, 103);
}

.linknav:hover{
    color: rgb(184, 216, 216);
    transition: 0.2s;
}

.linknav:active{
    border-radius: 30px;
    box-shadow: 0px 0px 10px 0px rgb(255, 198, 194);
    transition: 0.2s;
}

.boton-salmon{
    background-color: rgb(254, 95, 85);
    border-radius: 30px;
    padding: 15px;
    color: rgb(238, 245, 219); 
    box-shadow: 0px 0px 20px 0px  rgb(122, 158, 159);
    font-size: 20px;
    font-weight: 300;
}

.boton-salmon:hover{
    background-color:rgb(238, 245, 219);
    border-radius: 30px;
    color: rgb(254, 95, 85); 
    box-shadow: 0px 0px 10px 0px rgb(255, 198, 194);
    transition: 0.2s;
}

.link-botonsalmon{
    text-decoration: none;
}

/*fin barra navegacion*/

.main-container{
    display: flex;
    flex-direction: column;
}

/*seccion presentacion*/

.presentacion{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 130px 0 0 0;
    margin-bottom: 16px;
}
.personal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo-secundario, .descripcion, .saludo{
    display: flex;
    color: rgb(79, 99, 103);
    margin-top: 25px;
    justify-content: center;
    text-align: center;
}

.titulo-secundario{
    font-size: 35px;
    font-weight: 300;
}

.descripcion{
    font-size: 25px;
    font-weight: 300;
}

.nombre{
    font-family: 'Fredoka One', cursive;
    font-size: 60px;
    color: rgb(254, 95, 85);
    text-align: center;
}

.imagen{
    display: flex;
    justify-content: center;
    align-items: center;
}

.develop{
    width: 65%;
}
/*fin seccion presentacion*/

/*seccion conocimientos*/
.seccion-cards-conocimiento{
    display: flex;
    flex-direction: column;
    padding: 120px 0 80px 0;
}

.contenedor-cards-conocimiento{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
}

.card-conocimiento{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 170px;
    margin: 10px 50px;
    border: solid 1px  rgb(184, 216, 216);
    border-radius: 15px;
    box-shadow: 0px 0px 15px 0px  rgb(122, 158, 159);
    font-size: 20px;
    color:  rgb(79, 99, 103);
}

.card-conocimiento:hover{
    border: solid 1px rgb(254, 95, 85);
    box-shadow: none;
    transition: 0.2s;
    color:  rgb(122, 158, 159);
}

.html{
    color:rgb(229, 77, 38);
}

.css{
    color: rgb(61, 143, 198);
}

.js{
    color: rgb(240, 219, 79);
}
.sass{
    color: rgb(204, 102, 153);
}
.git{
    color: rgb(243, 79, 41);
}

.react{
    color: aquamarine;
}

.tamanio-logo{
    font-size: 70px;
}
/*fin seccion conocimientos*/

/*seccion articulo*/

.articulo{
    box-shadow: 0px 0px 15px 0px  rgb(122, 158, 159);
}

.contenededor-texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(254, 95, 85);
    padding: 50px 0 50px 0;
}

.signo{
    color:  rgb(238, 245, 219);
    font-size: 80px;
    background-color: rgb(254, 95, 85);
    padding-top: 10px;
}

.texto-articulo{
    display: flex;
    width: 55vw;
    color:  rgb(238, 245, 219);
    background-color: rgb(254, 95, 85);
    font-size: 35px;
    font-weight: 300;
    line-height: 60px;
    text-align: justify;
    margin: auto;
}
/*fin articulo*/

/*seccion proyectos*/
.seccion-cards-proyectos{
    display: flex;
    flex-direction: column;
    padding: 100px 0 80px 0;
}

.contenedor-cards-proyecto{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    margin:auto;

}
.card-proyecto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 200px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    color: rgb(79, 99, 103);
    border: solid 1px rgb(184, 216, 216);
    border-radius: 30px;
    box-shadow: 0px 0px 10px 0px  rgb(122, 158, 159);
    margin: 15px 15px;
}

.card-proyecto:hover{
    border: solid 1px rgb(254, 95, 85);
    box-shadow: none;
    transition: 0.3s;
}

.img-portfolio{
    width: 70%;
}

.img-edit-meme{
    width: 45%;
}

.img-game{
   width: 45%; 
}

.img-contol-gastos{
    width: 45%;  
}
.img-superwoman{
    width: 40%; 
}
.img-shop{
    width: 45%; 
}
.descripcion-proyecto{
    padding-top: 10px;
}

/*fin proyectos*/

/*seccion contacto y redes*/
/* recuadro contenedor de la seccion contacto*/

.contenedor-contacto{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contacto{
    display: flex;
    flex-direction: row;
    width: 95%;
    justify-content: space-evenly;
    border: solid 1px  rgb(184, 216, 216);
    border-radius: 15px;
    box-shadow: 0px 0px 15px 0px  rgb(122, 158, 159);
    font-size: 20px;
    color:  rgb(79, 99, 103);
    /*margin: 20px 0;*/
}
/*fin recuadro contenedor de la seccion contacto*/

/*Margen izquierdo seccion contacto*/
.contactame{
    display: flex;
    flex-direction: column;
    width: 45%;
    font-weight: 300; 
    line-height: 35px;
    text-align: justify;
    padding: 0 20px 0 0;
}

.margin-top30{
    margin-top: 30px;  
}

.margin-top40{
    margin-top: 40px;  
}

/*iconos redes*/
.lista-redes{
    list-style: none;
    font-weight: 400;
   padding: 20px 0 0 0;
}

.linkeding, .github, .mailto{
    text-decoration: none;
    color: rgb(79, 99, 103);
}

.icono-redes{
    font-size: 30px;
    color:rgb(254, 95, 85);
    background-color: rgb(238, 245, 219);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    padding: 10px 0 0 ;
}

.icono-redes:hover{
    color: rgb(238, 245, 219);
    background-color: rgb(254, 95, 85);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: 0.4s;
    text-align: center;
    padding: 10px 0 0 ;
}
/*fin redes*/

/*formulario contacto*/
.escribime{
    width: 45%;
    display: flex;
    flex-direction: column;
}

.formulario{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
}
.margin-top10{
    margin-top: 10px;
}
.datos{
    display: flex;
}

.campo-nom-y-ap{
   flex-grow: 1;    
}

.campoform, .campoform-nombreyapellido{
    background-color: rgb(184, 216, 216);
    border: 0;
    outline: none;
    height: 40px;
    border-radius: 20px;
    padding-left: 15px;
    font-size: 15px;
}


.campoform-nombreyapellido{
    width: 95%;
}

.textarea{
    background-color: rgb(184, 216, 216);
    border: 0;
    border-radius: 20px;
    outline: none;
    padding: 10px 0 0 15px;
    font-size: 15px;
}

form label{
    font-weight: 300;
    padding-top: 20px;
    font-size: 20px;
}

form p{
    font-weight: 300;
    padding-top: 10px;
    font-size: 20px  
}
.campos-obl{
    font-size: 14px;
}

.botones.form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   margin-bottom: 10px;
}
    
.campoform:hover{
    background-color: rgb(238, 245, 219);
    box-shadow: 0px 0px 15px 0px  rgb(122, 158, 159);
    transition: 0.2s;
}

.textarea:hover{
    background-color: rgb(238, 245, 219);
    box-shadow: 0px 0px 15px 0px  rgb(122, 158, 159);
    transition: 0.2s;
}

.botones-form{
    display: flex;
    justify-content: space-around;
}

.botonform{
    background-color: rgb(254, 95, 85);
    color: rgb(238, 245, 219); 
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    font-weight: 300;
    width: 110px;
    height: 45px;
    border:0;
    outline: none;
    border-radius: 30px;
    margin-top: 10px;
    box-shadow: 0px 0px 15px 0px  rgb(122, 158, 159);
}

.botonform:hover{
    color: rgb(254, 95, 85);
    background-color: rgb(238, 245, 219); 
    box-shadow: 0px 0px 20px 0px rgb(254, 95, 85) ;
    transition: 0.2s; 
}

/*fin formulario*/

/*footer*/
footer a{
    text-decoration: none;
}

/* div footer que contiene links a secciones e iconos a redes*/
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color:rgb(79, 99, 103);
    margin: 30px 0 0 0;
}

/*links a secciones footer*/
.lista-footer{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
    list-style: none;
    background-color: rgb(79, 99, 103);
    font-size: 20px;
    color:rgb(238, 245, 219);
    font-weight: 300;
}

.item-footer{
    background-color: rgb(79, 99, 103);
    color:rgb(238, 245, 219) ;
    display: flex;
    flex-direction: row;
}

.item-footer:hover{
    color:rgb(122, 158, 159);
}
/*fin links a secciones*/

/*iconoos redes footer*/
.iconos-footer{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(79, 99, 103);
}  

.boton-icono-footer{
    background-color: rgb(79, 99, 103);
} 


.icono-redes-footer{
    background-color:rgb(238, 245, 219) ;
    color: rgb(79, 99, 103);
    font-size: 30px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding: 15px;
}


.icono-redes-footer:hover{
    background-color: rgb(79, 99, 103);
    color: rgb(238, 245, 219);
    transition: 0.2s;
}

.icono-redes-footer:active{
    box-shadow: 0px 0px 20px 0px rgb(238, 245, 219);
}

/*fin iconos redes footer*/

/*linea final*/
.copyright, .texto-copy, .icono-copy{
    font-size: 18px;
    background-color: rgb(79, 99, 103);
    color:rgb(238, 245, 219) ;
    font-weight: 300;
}
/* fin footer*/


/*Responsive breackpoint de 1000 pixeles
*/

@media (max-width: 1000px){
    .header{
        display: none;
    }
}

/*Responsive breackpoint de 900 pixeles
*/

@media (max-width: 900px){

    .presentacion{
        flex-direction: column;
    }
    .lista-footer{
        display: none;
    }
    .imagen{
        margin-top: 20px;
    }
    
    .texto-articulo{
        width: 80vw;
    }
}


@media (max-width: 750px){
    .contacto{
        flex-direction: column;
    }
    .escribime{
        width: 95%;
        padding: 10px 0 0 0;
        margin: auto;
    }
    .contactame{
        width: 95%;
        padding: 10px 0 0 0;
        margin: auto;
    }
    .card-conocimiento{
        width: 50%;
    }

    .card-proyecto{
        width: 50%;
    }

    .formulario{
        padding: 0 0 30px 0;
    }

    .botones-form{
        padding: 0 0 20px 0;
    }

    .iconos-footer{
        width: 70%;
    }

    .texto-articulo{
        font-size: 24px;
    }

}
@media (max-width: 415px){
    .copyright, .texto-copy, .icono-copy{
        font-size: 14px;
    } 

}
@media (max-width: 320px){
    .titulo-secundario{
        font-size: 28px;
    }
    .copyright, .texto-copy, .icono-copy{
        font-size: 12px;
    } 
}