@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(238, 245, 219);
    font-family: 'Josefin Sans', sans-serif;
}

body{
   width: 100vw;
}

/*barra de navegacion*/
.header{    
    display: flex;
    width: 100vw;
}

.nav{
    position: fixed;
    z-index: 1;
    height: 100px;   
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    box-shadow: 0px 0px 20px 0px  rgb(122, 158, 159) ;
}

.linknav, .linkcard{
    text-decoration: none;
    color: rgb(79, 99, 103);
}



ul{
    margin-right: 25px;
}

.botones-nav{
    display: flex;
    list-style: none;
    font-size: 25px;
    font-weight: 300;
    color: rgb(79, 99, 103);
}
.botones-nav :hover{
    display: flex;
    list-style: none;
    font-size: 25px;
    font-weight: 300;
    color: rgb(184, 216, 216);
    transition: 0.2s;
}

.icono{
    padding-right: 35px;
    margin-right: 10px;
    margin-top: 30px;
    padding-top: 15px;
    height: 50px;
}

.padding-right10{
    padding-right: 10px;
}

.boton-salmon{
    background-color: rgb(254, 95, 85);
    border-radius: 30px;
    padding-left:30px;
    color: rgb(238, 245, 219); 
    box-shadow: 0px 0px 20px 0px  rgb(122, 158, 159);
    font-size: 26px;
    font-weight: 300;
    margin-right: 35px;
}


.boton-salmon:hover{
    background-color:rgb(238, 245, 219);
    border-radius: 30px;
    padding-left:30px;
    color: rgb(254, 95, 85); 
    box-shadow: 0px 0px 20px 0px rgb(254, 95, 85);
    transition: 0.2s;
       
}

.link-botonsalmon{
    text-decoration: none;
}


.icono:active{
    border: solid 1px rgb(255, 198, 194);
    border-radius: 30px;
    padding-left: 17px;
    box-shadow: 0px 0px 7px 0px rgb(255, 198, 194);
    transition: 0.2s;
}
/*fin barra navegacion*/



/*seccion presentacion*/
.presentacion{
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 120px;
}
.personal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo-secundario, .descripcion, .saludo{
    display: flex;
    color: rgb(79, 99, 103);
    margin-top: 25px;
    margin-left: 20px;
    justify-content: center;
    text-align: center;
}

.titulo-secundario{
    font-size: 50px;
    font-weight: 300;
}

.descripcion{
    font-size: 30px;
    font-weight: 300;
}

.nombre{
    font-family: 'Fredoka One', cursive;
    font-size: 70px;
    color: rgb(254, 95, 85);
    text-align: center;
}

.link-botonsalmon{
    text-decoration: none;
}

.imagen{
    display: flex;
    justify-content: center;
}

.develop{
    width: 65%;
}
/*fin seccion presentacion*/

/*seccion conocimientos*/
.conocimientos{
    width: 100vw;
    /*height: 100vh;*/
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    height: 250px;
}

.margin-botton{
    margin-bottom: 30px;
}

 .logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 200px;
    border: solid 1px  rgb(184, 216, 216);
    border-radius: 15px;
    box-shadow: 0px 0px 15px 0px  rgb(122, 158, 159);
    font-size: 25px;
    color:  rgb(79, 99, 103);
}

.logo:hover{
    box-shadow: 0px 0px 15px 0px  rgb(255, 198, 194);
    transition: 0.2s;
    color:  rgb(122, 158, 159);
}

.html{
    color:rgb(229, 77, 38);
}

.css{
    color: rgb(61, 143, 198);
}

.js{
    color: rgb(240, 219, 79);
}
.sass{
    color: rgb(204, 102, 153);
}
.git{
    color: rgb(243, 79, 41);
}

.react{
    color: aquamarine;
}

.tamanio-logo{
    font-size: 100px;
}
/*fin seccion conocimientos*/

/*seccion articulo*/

.articulo{
    box-shadow: 0px 0px 15px 0px  rgb(122, 158, 159);
    
}

.contenededor-texto{
    width: 100vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(254, 95, 85);
  
}

.signo{
    color:  rgb(238, 245, 219);
    font-size: 95px;
    background-color: rgb(254, 95, 85);
    padding-top: 20px;
}

.texto-articulo{
    color:  rgb(238, 245, 219);
    font-size: 40px;
    background-color: rgb(254, 95, 85);
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
    width: 50vw;
    padding-bottom: 30px;
    line-height: 60px;
    text-align: justify;
}
/*fin articulo*/

/*seccion proyectos*/
.proyectos{
  padding-top: 50px;
  text-align: center;
}

.contenedor-proyectos{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 300px;
}

.card-proyecto{
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
    color: rgb(122, 158, 159);
    border: solid 1px   rgb(184, 216, 216);
    border-radius: 30px;
    box-shadow: 0px 0px 10px 0px  rgb(122, 158, 159);
    width: 400px;
    height: 250px;
    margin: auto;   
}

.card-proyecto:hover{
    box-shadow: 0px 0px 10px 0px  rgb(255, 198, 194);
    border: none;
    transition: 0.3s;
}

.img-portfolio{
    width:350px;
}

.img-edit-meme{
    width: 240px;
}

.img-game{
   width: 200px; 
}

.descripcion-proyecto{
    padding-top: 10px;
}

.img-contol-gastos{
  width: 200px;  
}
/*fin proyectos*/

/*seccion contacto redes*/
/* recuadro contenedor de la seccion contacto*/
.contenedor-contacto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    height: 90vh;
    margin-top: 100px;
 }

.contacto{
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-around;
    border: solid 1px  rgb(184, 216, 216);
    border-radius: 15px;
    box-shadow: 0px 0px 15px 0px  rgb(122, 158, 159);
    font-size: 25px;
    color:  rgb(79, 99, 103);
}
/*fin recuadro contenedor de la seccion contacto*/

/*Margen izquierdo seccion contacto*/
.contactame{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35vw;
    height: 95wh;
    font-weight: 300; 
    line-height: 35px;
    text-align: justify;
}

.margin-top30{
    margin-top: 30px;  
}

.margin-top40{
    margin-top: 40px;  
}

/*iconos redes*/
.lista-redes{
    list-style: none;
    font-weight: 400;
    margin-bottom: 50px;
    height: 200px;
}

.linkeding, .github, .mailto{
    text-decoration: none;
    color: rgb(79, 99, 103);
}

.icono-redes{
    font-size: 30px;
    color:rgb(254, 95, 85);
    background-color: rgb(238, 245, 219);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 1.75em;
}

.icono-redes:hover{
    color: rgb(238, 245, 219);
    background-color: rgb(254, 95, 85);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: 0.4s;
    text-align: center;
    line-height: 1.75em;
}
/*fin redes*/

/*formulario contacto*/
.escribime{
    width: 35vw;
    display: flex;
    flex-direction: column;
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.margin-top10{
    margin-top: 10px;
}
.datos{
    display: flex;
}


.campo-nom-y-ap{
   flex-grow: 1;    
}

.campoform, .campoform-nombreyapellido{
    background-color: rgb(184, 216, 216);
    border: 0;
    outline: none;
    height: 40px;
    border-radius: 20px;
}


.campoform-nombreyapellido{
    width: 16vw;
}

.textarea{
    background-color: rgb(184, 216, 216);
    border: 0;
    border-radius: 20px;
    outline: none;
}
::placeholder{
    padding-left: 20px;
}
form label{
    font-weight: 300;
    padding-top: 20px;
    font-size: 20px;
}

form p{
    font-weight: 300;
    padding-top: 10px;
    font-size: 20px  
}

.botones.form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
    
.campoform:hover{
    background-color: rgb(238, 245, 219);
    box-shadow: 0px 0px 15px 0px  rgb(122, 158, 159);
    transition: 0.2s;
}

.textarea:hover{
    background-color: rgb(238, 245, 219);
    box-shadow: 0px 0px 15px 0px  rgb(122, 158, 159);
    transition: 0.2s;
}

.botones-form{
    display: flex;
    justify-content: space-around;
    
}
.botonform{
    background-color: rgb(254, 95, 85);
    color: rgb(238, 245, 219); 
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    font-weight: 300;
    width: 110px;
    height: 45px;
    border:0;
    outline: none;
    border-radius: 20px;
    margin-top: 10px;
    box-shadow: 0px 0px 15px 0px  rgb(122, 158, 159);
}

.botonform:hover{
    color: rgb(254, 95, 85);
    background-color: rgb(238, 245, 219); 
    box-shadow: 0px 0px 20px 0px rgb(254, 95, 85) ;
    transition: 0.2s; 
}

/*fin formulario*/

/*footer*/

footer a{
    text-decoration: none;
}

/* div footer que contiene links a secciones e iconos a redes*/
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 100vw;
    background-color:rgb(79, 99, 103);
}

/*links a secciones footer*/
.lista-footer{
    display: flex;
    flex-direction: row;
    width: 50vw;
    justify-content: space-between;
    list-style: none;
    background-color: rgb(79, 99, 103);
    font-size: 25px;
    color:rgb(238, 245, 219);
    font-weight: 300;
}

.item-footer{
    background-color: rgb(79, 99, 103);
    color:rgb(238, 245, 219) ;
    display: flex;
    flex-direction: row;
}

.item-footer:hover{
    color:rgb(122, 158, 159);
}
/*fin links a secciones*/

/*iconoos redes footer*/

.iconos-footer{
    width: 20vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(79, 99, 103);
}  

.boton-icono-footer{
    background-color: rgb(79, 99, 103);
   
} 


.icono-redes-footer{
    background-color:rgb(238, 245, 219) ;
    color: rgb(79, 99, 103);
    font-size: 30px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding: 15px;
}


.icono-redes-footer:hover{
    background-color: rgb(79, 99, 103);
    color: rgb(238, 245, 219);
    transition: 0.2s;
}

.icono-redes-footer:active{
    box-shadow: 0px 0px 20px 0px rgb(238, 245, 219);
}

/*fin iconos redes footer*/

/*linea final*/
.copyright, .texto-copy, .icono-copy{
    font-size: 20px;
    background-color: rgb(79, 99, 103);
    color:rgb(238, 245, 219) ;
    font-weight: 300;
}
/* fin footer*/

/*Responsive breack point de 0 a 1000 pixeles
*/

@media (max-width: 1000px){
    .header{
        display: none;
    }

    .presentacion{
        flex-direction: column;
    }

    .imagen{
        margin-top: 20px;
    }

    .develop{
        width: 45%;
        margin-top: 20px;
    }

    .titulo-secundario{
        font-size: 40px;
        margin-top: 30px;
    }

    .logo{
        width: 200px;
        height: 150px;
    }

    .contenededor-texto{
        
        height: 500px;
    }

    .signo{
        font-size: 50px;
    }

    .texto-articulo{
        padding-top: 20px;
        font-size: 30px;
        width: 80vw;
        line-height: 30px;
    }
    
    .contenedor-proyectos{
        height: 300px;
    }
    .card-proyecto{
        width: 300px;
        height: 200px;
    }
    .img-portfolio{
        width: 250px;
    }
    .img-edit-meme{
        width: 170px;
    }

    .img-game{
        width: 160px;
    }

    .img-contol-gastos{
        width: 160px;
    }

    .contenedor-contacto{
        height: 600px;
    }

    .contactame{
        line-height: 30px;
        font-size: 22px;
    }

    .escribime{
        font-size: 22px;
    }

    .footer{
        height: 400px;
    }
    .lista-footer{
        width: 80vw;
    }

    .iconos-footer{
        width: 40vw;
    }
}

@media (max-width: 900px){
    
    .contenedor-proyectos{
        flex-direction: column;
        height: 700px;
    }
    .card-proyecto{
        width: 60vw;
    }
    .contacto{
        flex-direction: column;
        width: 90vw;
        height: 950px;
    }

    .contactame{
        width: 80vw;
        font-size: 18px;
        height: 300px;
        margin:auto
    }

    .texto-contactame{
        margin-top: 10px;
    }

    .escribime{
        width: 80vw;
        margin:auto;
        font-size: 20px;
    }

    .formulario{
        margin-top: 20px;
    }

    .campoform-nombreyapellido{
        width: 39vw;
    }
    footer{
        /*display:flex;*/
        margin-top: 400px;
    }
}

@media (max-width: 800px){
    .lista-footer{
        display: none;
    }
}

@media (max-width: 610px){
    .cards{
        flex-direction: column;
        height: 500px;
    }
    .logo{
        width: 60vw;
    }

   .iconos-footer{
       width: 90vw;
   } 
   .texto-copy{
       font-size: 15px;
   }

    .img-portfolio{
        width: 170px;
    }
    .img-contol-gastos{
        width: 140px;
    }
    .contacto{
        height: 950px;
    }
    
    .texto-contactame{
        margin-top: 10px;
    }
    .icono-redes{
       font-size: 20px;
   } 
   .lista-redes{
       flex-direction: column;
       flex-wrap: nowrap;
    }
    .titulo-secundario{
        font-size: 32px;
    }
}



